
/* Master Style */

@font-face {
  font-family:Lemonada;
  src: url(fonts/Lemonada-Bold.ttf);
}
body {
  margin: 0px;
  font-family:Lemonada;
  background-color: black;
  color: salmon;
}
.brand {
  color : salmon;
  font-size: 30px;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* Nav Style */

.navWrap {
  display:flex;
  justify-content: space-between;
  padding:38px;

}

.leftNav {
  display:flex;
}

.navWrap > .leftNav > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.navLinkWrap {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.navLinkWrap a {
  color: salmon;
  text-decoration: none;
  transition: color 0.5s;
}

.navLinkWrap:hover {
  border-bottom: 1px solid red;
}

.navLinkWrap a:hover {
  color:red!important;
}

.activeNavLink{
  border-bottom: 1px solid red;
}
.activeNavLink a{
  color:red !important;
}


/* new */
#mascot h1 {
  text-align:center;
  font-size: 3em;
  color: Salmon
}

#mascot img {
  display :block;
  margin-left: auto;
  margin-right:auto;
  width: 20%;
}

#siteContainer {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#siteContainer > div {
  position: relative;
  text-align: center;
  padding:15px;
  background-color: black;
  color:white;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  margin-top: 2em;
}
table , td , tr, th {
  border: 1px solid red;
  padding: 1em;
}
td {
  color: white;
}

tr > :first-child {
  color:salmon;
}

th {
  color: crimson;
}