
/* Master Style */

@font-face {
  font-family:Lemonada;
  src: url(fonts/Lemonada-Bold.ttf);
}
*{
  margin:0;
}
body {
 
  font-family:Lemonada;
  background-color:#ebf5ee;
  color: #283044;
  height:100%;
  display:flex;
  flex-direction: column;
}
.brand {
  color :#283044;
  font-size: 30px;
}
 section {
   width: 75%;
   margin-left: auto;
   margin-right: auto;
 }

/* Nav Style */

.navWrap {
  display:flex;
  justify-content: space-between;
  padding:10px;
  border-bottom:1px solid #8b786d ;

}

.leftNav {
  display:flex;
}

.navWrap > .leftNav > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
  
}

.navLinkWrap {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.navLinkWrap a {
  color: #283044;
  text-decoration: none;
  transition: color 0.5s;
}

.navLinkWrap:hover {
  border-bottom: 1px solid red;
}

.navLinkWrap a:hover {
  color:red!important;
}

.activeNavLink{
  border-bottom: 1px solid red;
}
.activeNavLink a{
  color:red !important;
}


/* new */
#mascot h1 {
  text-align:center;
  font-size: 3em;

}

#mascot img {
  display :block;
  margin-left: auto;
  margin-right:auto;
  width: 10%;
}

 .tri-content {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
 }

 .tri-content > div {
   position: relative;
   margin: 15px;
   border:2px solid black;
   padding:10px;
   background-color: #78a1bb;
   border-radius: 10%;
   font-size: 2em;
 }

 .tri-content > div > img {
   height:350px;
   width:100%;
   border-radius: 50%;
 }

 #under-content {
 
   margin: 30px;
   display: grid;
   grid-template-columns: 1fr 1fr;
 }

 #under-content > div {
   border: 5px solid black;
   position: relative;
   background-color: #8b786d;
   margin:20px;
   font-size: 2em;
 }

 #under-content > div > img {
   border-radius:10%;
  
 }
 
/* table */
table {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  margin-top: 2em;
  background-color:#8b786d;
  font-weight: bold;
}
table , td , tr, th {
  border: 1px solid #bfa89e;
  border-radius: 20px;
  padding: 1em;
}
td {
  color: black;
}

tr > :first-child {
  color:#78a1bb;
}

th {
  color:#78a1bb;
}


footer {
  border-top: 1px solid #8b786d;
  margin-top:20px;
  padding:15px;
  display:flex;
  justify-content: space-between;
  flex-shrink:0;

}
/* footer */